<footer class="border-top mt-5 py-4">
        <div class="container text-center text-muted small">
                <div><img src="images/csumb_logo-1.png" alt="CSUMB Logo" width="100px" height="50px"></div>
                <small>CST336 Internet Programming. &copy; 2025 | Quote Finder | Built by Mohammed Nasr. All Rights Reserved.<br></small>
                <small><a href="https://www.npmjs.com/package/express" target="_blank">Express npm</a></small>
                <small><a href="https://www.npmjs.com/package/node-fetch" target="_blank">Node Fetch npm</a></small>
                <small><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/" target="_blank">Bootstrap</a></small>
                <small><a href="https://docs.google.com/document/d/15uTrxXPhH4T1vjv7r7CZCkDQYtZ7PVKsJ55VqTAe9ig/edit?tab=t.0" target="_blank">Quote Search Doc</a></small>
        </div>
</footer>
</body>
</html>