<footer>
        <div><img src="images/csumb_logo-1.png" alt="CSUMB Logo" width="100px" height="50px"></div>
        <small>CST336 Internet Programmng. &copy; 2025 | Quote Finder | Built by Mohammed Nasr. All Rights Reserved.<br></small>
        <small><a href="https://www.npmjs.com/package/express" target="_blank">Express npm</a></small>
        <small><a href="https://www.npmjs.com/package/node-fetch" target="_blank">Node fetch npm</a></small>
        <small><a href="https://getbootstrap.com/docs/5.3/components/navbar/" target="_blank">Bootstrap</a></small>
</footer>