<%- include("partials/header.ejs") %>

<body>

    <h1> Adding New Author</h1>

    <form action="/addAuthor" method="POST">
        First Name: <input type="text" name="fn"/> <br/>
        Last Name: <input type="text" name="ln"/> <br/>
        Date of Birth: <input type="date" name="dob"/> <br/>
        Date of Death: <input type="date" name="dod"/> <br/>
    <button> Add Author </button>
    </form>
    
</body>
</html>