<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
</head>
<body>

    <% for (let row of result) { %>
        <img src="<%= row.portrait %>" width="300" height="300" alt="Author Portraits">
    <% } %>

</body>
</html>