<%- include("partials/header.ejs") %>

<body>

    <% for (let row of result) { %>
        <div class="card">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <figure>
            <blockquote class="blockquote">
                <p><%= row.quote %></p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
            </figure>
        </div>
        </div>
    <% } %> 

</body>
</html>